html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  animation: image 2s forwards;
  background-color:white;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: black;
}
#btn{
 
}